/* Universal */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Elemental Classes */

a {
    color: purple;
}

h1 {
    color: black;
    font-size: 40px;
    margin: 20px auto 20px auto;
}

p {
    font-size: 25px;
    margin: 20px auto 20px auto;
}

button {
    background-color: purple;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    color: white;
    min-width: 120px;
    width: auto;
    margin: 5px auto 5px auto;
}

/* Classes */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.main {
    display: flex;
    justify-content: center;
}

.highscore_div {
    text-align: left;
}

.highscores {
    background-color: plum;
    text-align: left;
    margin: 5px auto 5px auto;
    width: 100%;
}

.time_div {
    text-align: right;
}


.section {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: center;
    justify-content: center;
    width: 50%;
}

/* IDs */
#timerFrame {
    font-size: 15px;
    margin: auto;
}

#highscore {
    font-size: 15px;
}

.answerFrame {
    display: flex;
    width: 25%;
    flex-direction: column;
}


#start {
    text-align: center;
}

#submit {
    width: auto;
    text-align: center;
}

#initialsInput {
    width: 25%;
    height: 40px;
    margin: 5px auto 10px auto;
}

#finalScore {
    color: purple;
    font-size: 50px;
}

